<div class="login-container">
  <h2>Đăng Nhập</h2>
  <form name="loginForm" ng-submit="loginCtrl.login()" novalidate>
    <div>
      <label>Tên đăng nhập:</label>
      <input type="email" ng-model="loginCtrl.email" required name="email" />
      <span ng-show="loginForm.email.$error.required && loginForm.$submitted"
        >Trường này là bắt buộc.</span
      >
      <span ng-show="loginForm.email.$error.email && loginForm.$submitted"
        >Email không hợp lệ.</span
      >
    </div>
    <div>
      <label>Mật khẩu:</label>
      <input
        type="password"
        ng-model="loginCtrl.password"
        required
        name="password"
      />
      <span ng-show="loginForm.password.$error.required && loginForm.$submitted"
        >Trường này là bắt buộc.</span
      >
    </div>
    <button type="submit">Đăng Nhập</button>
  </form>
</div>
